{
  "extends": ["@privyid/eslint-config-persona"],
  "parserOptions": {
    "project": [
      "./packages/*/tsconfig.node.json",
      "./packages/*/tsconfig.json"
    ]
  },
  "rules": {
    "@typescript-eslint/key-spacing": "off",
    "no-multi-spaces": [
      "error",
      {
        "exceptions": {
          "VariableDeclarator": true,
          "AssignmentExpression": true,
          "ObjectExpression": true,
          "Program": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.tsx"],
      "rules": {
        "unicorn/filename-case": [
          "error",
          {
            "cases": {
              "kebabCase": true,
              "pascalCase": true
            }
          }
        ]
      }
    }
  ]
}
